section {
    padding: 40px 0;
    
    &.home {
        padding: 0;
        height: 100vh;
        width: 100vw;
		position: relative;
		.mouse-down {
			opacity: 1;
			transition: all .3s;
			width: 20px;
			height: 36px;
			border-radius: 20px;
			border: 2px solid white;
			position: absolute;
			bottom: 60px;
			right: 50%;
			transform: translateX(-50%);
			z-index: 12;
			pointer-events: none;
			
			&::before {
				content: '';
				display: block;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				position: absolute;
				top: 8px;
				left: calc(50% - 3px);
				transform: translateX(-50%);
				background: white;
				animation: mouse-ball 1.4s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
			}
		}
        .slider-component {
            .slider-wrap {
                .slider-text {
                    position: absolute;
                }
                .slider-img {
                    width: 100vw;
                    height: 100vh;
                    position: relative;
                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 100%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            @keyframes mouse-ball {
                0%,
                65%,
                to {
                    opacity: 0
                }
                10%,
                40% {
                    opacity: 1
                }
                0% {
                    -webkit-transform: translateY(0px) scale(0.7);
                    transform: translateY(0px) scale(0.7)
                }
                5% {
                    -webkit-transform: scale(0.7);
                    transform: scale(0.7)
                }
                15%,
                to {
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2)
                }
                45%,
                65% {
                    -webkit-transform: translateY(15px) scale(0.7);
                    transform: translateY(15px) scale(0.7)
                }
            }
            
        }
    }
    
    &.story {
        
        .title {
            padding: 15px 40px 5px;
            box-shadow: 0 0 5px rgba(0,0,0,.1);
            background: white;
        }
        
        .story-component {
            padding: 15px 40px;
            box-shadow: 0 0 5px rgba(0,0,0,.1);
            margin-top: 30px;
            background: white;
            display: flex;
            justify-content: space-between;
            
            .story-wrap {
                flex: 1 1 75%;
                
                + .img-wrap {
                    margin: -15px -40px -15px 20px;
                }
            }
            
            .img-wrap {
                flex: 0 1 25%;
                margin: -15px 0 -15px -40px;
                
                + .story-wrap {
                    margin-left: 20px;
                }
                
                img {
                    width: 100%;
                }
            }
        }
    }
    
    &.counter {
        padding: 30px 0;
        
        .title {
            h2 {
                margin-top: 0;
            }
        }
    }
    
    &.timeline {
        margin: 30px 0;
        // height: 50vh;

        .timeline-component {
            
            .item {
                display: flex;
                align-items: center;

                + .item {
                    margin-top: 30px;
                }

                &.right {
                    flex-direction: row-reverse;

                    .icon {
                        margin: 0 0 0 10px;
                    }
                }
            }
            
            .icon {
                width: 100px;
                height: 100px;
                flex-shrink: 0;
                flex-grow: 1;
                border-radius: 50%;
                border: 1px solid #e5e5e5;
                margin-right: 10px;
                position: relative;

                .svg-inline--fa {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 50px;
                    height: 50px;
                    color: $orange;
                }
            }

            .text-wrapper {
                flex-shrink: 1;
                border: 1px solid #e5e5e5;
                padding: 30px 20px;

                h2 {
                    margin-top: 0;
                }

                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    
    &.location {
        position: relative;
        padding-top: 60px;
        
        .title {
            padding: 15px 40px 20px;
            margin-bottom: 80px;
            box-shadow: 0 0 5px rgba(0,0,0,.1);
            background: white;
        }
        
        .description {
            p {
                margin: 0;
                
                + p {
                    margin-top: 10px;
                }
            }
            
            h3 {
                padding: 0;
                margin: 0 0 10px;
                text-transform: uppercase;
            }
            
            ul {
                margin: 10px 0 0 0;
                padding: 0;
                list-style: none;
                
                li {
                    position: relative;
                }
            }
        }
        
        .container {
            
            &::after {
                content: '';
                display: block;
                height: 60px;
                width: 100%;
                background: white;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        
        
    }
    
    &.location-map {
        position: relative;
        background: white;
        height: 50vh;
    }
    
    &.wishlist {
        
        .wishlist-component {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        
        .item {
            flex: 0 0 33%;
            width: calc(100%/3);
            padding: 0 20px;
        }
        
        .card {
            position: relative;
            margin: 20px 0 0 0;
            border: 1px solid #e5e5e5;
            transition: all .3s;
            overflow: hidden;
            
            .img-wrapper {
                text-align: center;
                position: relative;
                overflow: hidden;
                height: 200px;
                widows: 100%;
                filter: grayscale(30%);
                
                img {
                    transition: all .3s;
                    display: block;
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%,-50%,0);
                    transition: all .3s ease;
                }

                &:hover {
                    img {
                        transform: translate3d(-50%,-50%,0) scale(1.1);
                    }
                }
            }
            
            .info-wrapper {
                border-top: 1px solid #e5e5e5;
                position: relative;
                
                .title {
                    h2 {
                        font-weight: 600;
                        letter-spacing: 0px;
                        text-align: center;
                        margin: 0;
                        padding: 10px 20px;

                        &::after {
                            margin: 10px auto 10px;
                        }
                    }
                }
                
                .links {
                    padding-bottom: 10px;
                    text-align: center;

                    a {
                        @include underline;

                        + a {
                            margin-left: 10px;
                        }

                        svg {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        
        .granted-by {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10px;
            
            a {
                flex: 0 0 18%;
                margin: 0 1%;
                
                img {
                    width: 100%;    
                }
            }
        }
    }
    
    &.gallery {
        margin-bottom: 90px;
        padding-bottom: 0;
        
        .gallery-component {
            display: flex;
            flex-wrap: wrap;
            
            .img-wrapper {
                flex: 1 1 20%;
                
                img {
                    width: 100%;
                }
            }
        }
    }
}

// desktop normal and tablet landscape ( max-width 1199px )
@include media-breakpoint-down(lg) {
    section.hero {
        position: relative;
        height: 775px;
        overflow: hidden;
        img {
            top: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            height: 775px;
            width: auto;
            position: absolute;
        }
    }
    section.small-card {
        padding: 0;
        .card-compact {
            .slick-track {
                padding: 35px 0;
            }
            .card {
                width: 220px;
            }
        }
    }
    section.experience {
        .big-card {
            margin: 80px 0 20px;
            .video {
                width: 100%;
            }
            .description {
                width: 100%;
                margin: 30px 0 0 0;
            }
        }
        .top-card {
            margin-bottom: 25px;
            .card {
                height: 450px;
                margin: 0;
                &:not(.card-text) {
                    .img-wrap {
                        &.landscape {
                            img {
                                height: 100%;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
        .card-style {
            padding-top: 0;
            padding-bottom: 80px;
            .slick-track {
                padding: 20px 0 30px;
            }
            .card {
                width: calc(100vw/2 - 40px);
                height: 450px; // float: none;
            }
        }
    }
    section.admission {
        height: auto;
        padding: 40px 0;
        max-height: initial;
        .card-landscape {
            width: 390px;
            .card {
                margin-top: 0;
                .text-wrap {
                    .text-wrap-description {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .admission-title {
            width: calc(100% - 460px)
        }
    }
    section.beyond {
        padding: 55px 0 84px;
        .title {
            p {
                margin-bottom: 15px;
            }
        }
    }
}

// desktop small and tablet potrait ( max-width 991px )
@include media-breakpoint-down(md) {}

// mobile potrait and landscape ( max-width 767px )
@include media-breakpoint-down(sm) {
    section.hero {
        height: auto;
        img {
            height: auto;
            width: 100%;
            position: static;
            transform: none;
        }
        .hero-text {
            top: 30px;
            width: 100%;
            h1 {
                font-size: 2.5rem;
                margin-bottom: 10px;
            }
            .year {
                font-size: 9.5rem;
            }
        }
    }
    section.small-card {
        .card-compact {
            .slick-track {
                padding: 20px 0;
            }
            .slick-dots {
                margin: 0;
                display: flex !important;
                flex-wrap: nowrap;
                justify-content: space-around;
                width: 100%;
                li {
                    list-style: none;
                    border: 0;
                    font-size: 0;
                    display: block;
                    width: 100%;
                    button {
                        background: transparent;
                        border: 0;
                        width: 100%;
                        height: 4px;
                        transition: all .3s ease;
                    }
                    &.slick-active {
                        button {
                            background: #d2ccc3;
                        }
                    }
                }
            }
            .card {
                width: 180px;
                height: 250px;
                +.card {
                    margin-left: 10px;
                }
                .text-wrap {
                    h2 {
                        font-size: 16px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
    section.experience {
        .big-card {
            margin-top: 10px;
            margin-bottom: 0;
            .description {
                margin-top: 30px;
                h2 {
                    margin-top: 0;
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }
        .top-card {
            .card {
                width: 100%;
                margin: 0;
                +.card {
                    margin: 20px 0 0 0;
                }
                &:not(.card-text) {
                    margin-left: 0;
                    margin-top: 20px;
                    .text-wrap {
                        .text-wrap-description:not(.date) {
                            height: 108px;
                            overflow: hidden;
                        }
                    }
                }
                &.card-text {
                    .text-wrap {
                        img.logo {
                            width: 125px;
                        }
                    }
                }
            }
        }
        .card-style {
            .card {
                width: 100%;
                +.card {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
    section.admission {
        max-height: initial;
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        .card-landscape {
            width: 100%;
        }
        .admission-title {
            width: 100%;
            margin: 0;
            font-size: 30px;
            line-height: 1.3;
        }
        .card-landscape {
            .card {
                padding: 28px;
                .text-wrap {
                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    section.beyond {
        .title {
            h2 {
                font-size: 18px;
            }
            p {
                width: 70%;
                margin: 0 auto 15px;
            }
        }
        .card-mini {
            display: block;
            .card {
                width: 100%;
                height: 400px;
                z-index: 4;
                .text-wrap {
                    z-index: 2;
                    h2 {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .overlay-box {
                    z-index: 1;
                }
                .img-wrap {
                    height: 400px;
                }
                +.card {
                    margin-left: 0;
                }
            }
        }
    }
}

//small mobile (max-width 480px)
@include media-breakpoint-down(xs) {
    section.admission {
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        .card-landscape {
            width: 100%;
        }
        .admission-title {
            width: 100%;
            margin: 0;
            font-size: 18px;
            line-height: 25px;
        }
    }
    section.beyond {
        .title {
            h2 {
                font-size: 18px;
            }
        }
        .card-mini {
            display: block;
            .card {
                width: 100%;
                height: 180px;
                .img-wrap {
                    height: 180px;
                }
                +.card {
                    margin-left: 0;
                }
            }
        }
    }
}